app/node_modules
app/.env
backend/functions/.env
app/.expo
go-lib
_app_
_specs
go
ios
docs
expo-env.d.ts
android

# dependencies
node_modules/
_app_/
go/
# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo